@if($:invaildId(false))

    <div class="jumbotron">
        <h1 class="display-3">角色不存在</h1>
        <p class="lead">请仔细确认ID后再开始编辑角色</p>
    </div>

@else
<form method="POST" action="@u($_GET)">
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">角色名</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" value="{{$:name('')}}">
        </div>
    </div>
    @foreach($:auths as $name=>$body)
    <li class="form-check">
        <label class="form-check-label" title="{{$name}}">
            <input class="form-check-input" type="checkbox" name="auths[{{$name}}]" value="1" @b($:permission->surpass(new dxkite\support\visitor\Permission([$name])),'checked')> {{__($body['name'])}}
        </label>
        <ul>
            @foreach($body['childs'] as $id=>$auth)
            <li class="form-check">
                <label class="form-check-label" title="{{$name}}.{{$id}}">
                    <input class="form-check-input" type="checkbox" name="auths[{{$name}}.{{$id}}]" value="1" @b($:permission->surpass(new dxkite\support\visitor\Permission([$name.'.'.$id])),'checked') > {{__($auth)}}
                </label>
            </li>
            @endforeach
        </ul>
    </li>@endforeach

    <button type="submit" class="btn btn-primary">@_('编辑分组')</button>
</form>
@endif