@insertAt('head_htmlhead')
<link rel="stylesheet" href="@theme('css/article_index.css')"> @insertEnd @include ('head') @include ('head')
<ol>
	@foreach ( $_Page->article_list as $article)
	<session>
		<p></p>
		<div class="basebord">
			<div class="basebord-title container">
				<div class="user-bord">
					<a href="{{PageUrl::UserHome($article->uid)}}"><img alt="icon-bdimg" src="{{PageUrl::Avatar($article->author)}}"></img></a>
					<div class="p-info">
						<div class="p-name"><a href="{{PageUrl::UserHome($article->uid)}}">{{ $article->author }}</a> </div>
						<div class="p-time">{{ date('Y-m-d H:i:s',$article->modified) }} {{ $article->category('未分类') }}</div>
					</div>
				</div>
				<div class="p-option">
					<div class="p-zan">{{ $article->views }}</div>
					<div class="p-reply">{{ $article->replys }}</div>
				</div>
			</div>
			<a href="{{ PageUrl::article($article->aid,$article->title ) }}">
				<div class="p-title">{{$article->title }}</div>
			</a>
			<div class="p-shorttext">{{$article->remark}}</div>
			<div class="p-img p-num1">
			</div>
		</div>
	</session>
	@endforeach

</ol>

@if ($_Page->use_page_nav)
<nav>
	@foreach ( $_Page->page_nav as $num=>$page) @if (isset($page['current']) && $page['current']==true)
	<span>  {{$num }}</span> @else
	<a href="{{ PageUrl::categoryPage($_Page->category,$page['offset']) }}">  {{$num }}</a> @endif @endforeach
</nav>
@else
<a href="{{ PageUrl::articlePage() }}">NO Nav</a> @endif @include("footer")