@include ('head')
<h2>文章总数： {{ $_Page->article_numbers }}</h2>
<ol>
	@foreach ( $_Page->article_list as $article)
	<li>
		<a href="{{ PageUrl::article($article['aid'],$article['title']) }}">  {{$article['title']}}</a> {{ date('Y-m-d H:m:s',$article['modified'])
		}}
		<a href="{{PageUrl::UserHome($article['uid'])}}">{{ $article['author'] }}</a> 阅读：{{ $article['views']}} @if ($article['cid'])
		{{$article['name'] }} @else 未分类 @endif
		<p>{{$article['remark']}}</p>
	</li>
	@endforeach
</ol>

@if ($_Page->use_page_nav)
<nav>
	@foreach ( $_Page->page_nav as $num=>$page) @if (isset($page['current']) && $page['current']==true)
	<span>  {{$num }}</span> @else
	<a href="{{ PageUrl::articlePage($page['offset']) }}">  {{$num }}</a> @endif @endforeach
</nav>
@else
<a href="{{ PageUrl::articlePage() }}">NO Nav</a> @endif
@include("footer")