<h4>@_('常规设置')</h4>
<table class="table">
    <tbody>
        <tr>
            <th>@_('网站名称')</th>
            <td>
                <div class="input-group">
                    <input class="form-control" type="text" id="website_name" name="website_name" value="@setting('website_name')">
                    <span class="input-group-append">
                        <button type="button" class=" btn btn-primary" data-input="website_name">@_('修改')</button>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>@_('时区设置')</th>
            <td>
                <div class="input-group">
                    <select class="form-control" id="timezone" name="timezone" aria-describedby="timezone-description">
                        {{! $this->response->getTimezoneOptions() }}
                    </select>
                    <span class="input-group-append">
                        <button type="button" class=" btn btn-primary" data-input="timezone">@_('修改')</button>
                    </span>
                </div>
            </td>
        </tr>
        {:setting-item:after}
    </tbody>
</table>
{:setting-panel:after} @startInsert('bs-footer')
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@_('修改设置')</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @_('修改成功')
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@_('确认')</button>
            </div>
        </div>
    </div>
</div>
<script src="@static('support')/call.js" data-api="@api(setting:_private)"></script>
<script  @nonce>
    $(function () {
        $('[data-input]').on('click', function () {
            var input = document.getElementById(this.dataset.input);
            dx.xcall('setSetting', {
                args: [this.dataset.input, $(input).val()],
                success: () => {
                    $('#info').modal('show');
                },
                error: (error) => {
                    var modal = $('#info');
                    modal.find('.modal-body').text(error.message + ":" + error.data);
                    modal.modal('show');
                }
            });
        });
    });
</script>
@endinsert