[submodule "suda"]
	path = suda
	url = https://github.com/DXkite/suda
[submodule "dxkite-support"]
	path = app/modules/dxkite-support
	url = https://github.com/DXkite/suda-support.git
[submodule "dxkite-user"]
	path = app/modules/dxkite-user
	url = https://github.com/DXkite/suda-user.git
[submodule "dxkite-ueditor"]
	path = app/modules/dxkite-ueditor
	url = https://github.com/DXkite/suda-ueditor.git
[submodule "dxkite-article"]
	path = app/modules/dxkite-article
	url = https://github.com/DXkite/suda-article.git
[submodule "dxkite-page"]
	path = app/modules/dxkite-page
	url = https://github.com/DXkite/suda-page.git
