<div class="mobile-menu">
      @call('clomery.main.data.ConfigData::profile')
      <img class="mobile-menu-icon" src="{{ $:profile.avatar }}">
      @call('clomery.main.data.ConfigData::menu')
      @foreach ($:menu as $menu)
      @if ($menu['name'] === 'search')
      <a class="mobile-menu-link mobile-menu-search" href="#">{= 搜索 }</a>
      @else
      <a class="header-menu-link" id="header-menu-{{$menu['name']}}" href="{{$menu['link']}}">{{ $$menu['name'] }}</a>
      @endif
      @endforeach
</div>