<div class="post-meta">
  <i class="iconfont icon-category">{{ $:article.category.name }}</i>
  @foreach ($:article.tags as $tag)
  <i class="iconfont icon-tag">{{$tag['name']}}</i>
  @endforeach
</div>

@call('clomery.main.data.ConfigData::profile')
<div class="post-footer">
  <div class="pf-left">
    <img class="pf-avatar" src="{{ $:profile.avatar }}">
    <p class="pf-des">{{ $:profile.description }}</p>
  </div>
  <div class="pf-right">
    <nav class="pf-paginator">
      @if ($:article.near.previous)
      <a href="@u('read-article',$:article.near.previous.id)" data-hover="{{$:article.near.previous.title}}">{= 上一篇文章 }</a>
      @endif
      @if ($:article.near.next)
      <a href="@u('read-article',$:article.near.next.id)" data-hover="{{$:article.near.next.title}}">{= 下一篇文章 }</a>
      @endif
    </nav>
  </div>
</div>
