@extend('layout')
@startInsert('body')
{-- profile --}

<div class="profile sildeUpMin">
		@data('dxkite.clomery.main.view.Data::profile')
	<a href="@u">
		<img class="avatar" src="{{ $:profile.avatar }}">
	</a>
	
	<p class="author">{{ $:profile.author }}</p>

	<div class="social">
		@data('dxkite.clomery.main.view.Data::socialLinks')
		@foreach ($:socialLinks([]) as $index => $link)
		<a target="_blank" class="social-links" href="{{$link}}">
			<i class="iconfont icon-{{$index}}"></i>
		</a>
		@endforeach
	</div>
</div>

{-- article --}

@foreach ($:articles([]) as $article)
@set('post', $article)
@include('_partial/article')
@endforeach

{-- paginator --}
@include('_partial/paginator')
@endInsert