@extend('support/setting:bootstrap') 
@set('lang','zh-CN') 
@startInsert('bs-head')
<link href="@static('support/setting')/sign.css" rel="stylesheet"> 
@endInsert 
@startInsert('bs-content')
<div class="container">
    <form class="form-sign" id="form-signup" action="@self" method="POST">
        <h2 class="form-sign-heading"> {= 验证账号 }</h2>
        <div class="form-group">
            <label for="code" class="sr-only">{= 验证码 }</label>
            <input 
            type="text" name="code" 
            id="code" 
            class="form-control {{ $:invaildCode(false)?'is-invalid':'' }}" 
            placeholder="{= 验证码 }"
            required autofocus> 
            @if($:invaildCode(false))
            <div id="name_error" class="invalid-feedback"> {= 验证码错误 }</div>
            @endif
        </div>
        <button id="signup-button" class="btn btn-lg btn-primary btn-block" type="submit"> {= 验证账号 } </button>
    </form>
</div>
@endInsert 

@startInsert('bs-footer')
<script @nonce>
    $(function () {
        var src = $('#verify_code_image').attr('src');
        $('#verify_code_image').on('click', function () {
            this.src = src + '?' + new Date().getTime();
        });
    });
</script>
@endInsert
