<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ $:menuName('管理主页') }}</a>
    <ul class="navbar-nav mr-auto">
        @if($?:submenu)
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="@u"> {{ $:submenu }}</a>
        </li>
        @endif
    </ul>
    <ul class="navbar-nav px-3">
        {:view.setting.header.navlist.prepend}
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">{{ $:currentUser.name }}</a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="@u('signout')">退出登录</a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/">网站首页</a>
        </li>
        {:view.setting.header.navlist.append}
    </ul>
</nav>