<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
@include('_partial/head')

<body>

    @include('_partial/header')

    <div class="container">
        @if ($:is_post || $:is_home )
        <section class="main">
            @insert('body')
        </section>
        @else
        <section class="main slideDownMin">
            @insert('body')
        </section>
        @endif

    </div>

    <a id="backTop">
        <span>
            <i class="iconfont icon-backtotop"></i>
        </span>
    </a>
    @include('_partial/slide-menu')
    @include('_partial/footer')
    <script src="https://hm.baidu.com/hm.js?d7aee75a7326ba3e59244e2db26823c8"  @nonce(script) ></script>
    <script src="@static/nayo.bundle.js"></script>
</body>

</html>