<header class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-inverse">
    <nav class="container justify-content-between">
        <div class="navbar-brand my-1 my-lg-0" href="#">
           <a href="@u('article:admin_list')">文章管理</a>
        </div>
        <div class="nav navbar-right">
            <div class="nav-item">
                <a class="nav-link" href="/">网站首页</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@u('user:signout')">退出登陆</a>
            </div>
        </div>
    </nav>
</header>