<header class="navbar navbar-dark navbar-toggleable-md fixed-top bg-dark">
    <nav class="container justify-content-between">
        <div class="navbar-brand my-1 my-lg-0" href="#">
            <a href="@u('user:admin_index')">管理页面</a>
        </div>
        <div class="nav navbar-right">
            <div class="nav-item">
                <a class="nav-link" href="/">网站首页</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@u('user:signout')">退出登陆</a>
            </div>
        </div>
    </nav>
</header>