{-- post --}

<article class="article">
    <div class="article-header">
        <a class="article-title" href="#"> {{ $:post.title }}</a>
        <div class='article-meta'>
            {{ date( "m月d日, Y年", $:post.modify) }}
            @foreach ($:post.tags as $tag)
            <span class="iconfont icon-star"></span>
            <a class="article-tag" href="#tag.link">{{$tag['name']}}</a>
            @endforeach
        </div>
    </div>

    <div class="article-excerpt">
        {{! content_unpack2html($:post.excerpt) }}
    </div>

    <div class='article-bottom'>
        <a class="article-readmore" href="#post.path">{= 阅读更多 }</a>
    </div>

</article>