@data('cn\atd3\response\article\Edit::addItem')
@startInsert('user-content')            
<!-- 加载编辑器的容器 -->
<script id="container" name="content" type="text/plain">
{{! $:article['content'] }}
</script>
@endInsert
@startInsert('bs-footer')
    <!-- 配置文件 -->
    <script type="text/javascript" src="@static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="@static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
@endInsert
@include('user:user/view')