@if ($:error(false))
<div class="alert alert-{{$:error.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    @if ($:error.title(false))
    <h5 class="alert-heading">{{$:error.title}}</h5>
    @endif {{$:error.message}}
</div>
@endif
<form action="@self(['edit'=>'base'])" method="POST" enctype="multipart/form-data">
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label">
                <h4>注册信息</h4>
            </legend>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">头像</label>
            <div class="col-sm-10">
                <input type="file" name="avatar">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{ $:user.name }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">邮箱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email" value="{{ $:user.email }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">手机号</label>
            <div class="col-sm-10">
                <input type="mobile" class="form-control" name="mobile" value="{{ $:user.mobile }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="password">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary">修改信息</button>
        </div>
    </fieldset>
</form>
{:dxkite.user.response.setting.Edit.view}